body {
  background-color: #352a6d;
}

#subtotal-menu {
}

#top-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #352a6d;
  height: 100px;
  width: 100%;
}

img {
  height: 90%;
  margin: 5px 0px;
  text-align: center;
}

#pizza-order-size {
  margin: 5px 0px;
  display: flex;
}

.col-md-6 {
  padding: 1em;
  border: 1px solid black;
}

#order-menu {
  height: auto;
  width: 65%;
  background-color: #8fcfef;
  text-align: center;
}

#pricing-subtotal-menu {
  width: 35%;
  background-color: #dbf1fc;
}

.menu-title {
  text-align: center;
  background-color: orange;
  margin: 1px 0px;
}

#submit {
  margin: 5px 0px;
}

table {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

#pricing-table * {
  border: 1px solid black;
  text-align: center;
}

.col-sm-2 {
  text-align: center;
}

.col-sm-3 {
  text-align: right;
}

.price-headers {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.count-display {
  font-size: 12px;
}

.order-display {
  font-size: 12px;
}

.price-display {
  font-size: 12px;
}

#toppingsList {
  font-size: 11px;
}

#toppingsPrice {
  font-size: 11px;
}
